body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

#issue, 
#tracking-number, 
#details {
	display: block;
	margin-bottom: 15px;
}

button {
	background-color: black;
	border: none;
	width: 100px;
	height: 25px;
	color: white;
	border-radius: 10px;
	margin-top: 15px;
}